.filterContainer {
    width: 50%;
    padding: 10px;
    /* margin: 10px; */
    margin: 0 auto;
    margin-top: 20px;
}

.dropDown {
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    font-size: 20px;
}

.filterYear {
    font-size: 25px;
}